<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HanziProject</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="body">
    <h1 class="title">
      Welcome to Hanzi Project
    </h1>
    <h2 class="summary">
      The purpose of this program is to estimate how many Chinese characters you can recognize.<br>
    </h2>
    <p class="get_started">
      When you're ready, please hit
      <a class="start_assessment" href="/setup">Start Assessment</a>
    </p>
  </div>

</body>

</html>